*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #B9D6E3;
    padding: 20px;
    font-size: 1.2em;
}

/* HEADER */
header #box-header{
    background-color: #CBA544;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* LOGO */
.logo{
    border: 2px dashed black;
    width: 20%;
    padding: 5px;
}

/* MENU */
nav{
    border: 2px dashed black;
    width: 60%;
    padding: 5px;
}

/* LOGIN */
.login{
    border: 2px dashed black;
    width: 20%;
    padding: 5px;
    text-align: right;
}

header nav{
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

/* /HEADER */

/* HERO AREA */
.hero-area{
    background-color: #1C1084;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.hero-area .box-hero{
    background-color: #D988E7;
    width: 50%;
    height: 450px;
    border: 2px dashed black;

}

/* /HERO AREA */

/* MAIN */
main .section-white{
    background-color: white;
    display: flex;
    height: 620px;
    justify-content: center;
    align-items: center;
}

main .section-grey{
    background-color: #D3D3D3;
    display: flex;
    height: 620px;
    justify-content: center;
    align-items: center;
}

/* BOX SECTION GREY */
.section-white .big-box{
    background-color: #5C8EF6;
    width: 40%;
    height: 500px;
    border: 2px dashed black;

}

.section-white .small-box{
    background-color: #F0C1CA;
    width: 28%;
    height: 500px;
    border: 2px dashed black;

}
/* BOX SECTION GREY */
.section-grey .big-box{
    background-color: #5C8EF6;
    width: 40%;
    height: 500px;
    border: 2px dashed black;

}

.section-grey .small-box{
    background-color: #F0C1CA;
    width: 28%;
    height: 500px;
    border: 2px dashed black;

}


/* /MAIN */