*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #B9D6E3;
    padding: 20px;
    font-size: 1.2em;
}

/* HEADER */
header #box-header{
    background-color: #CBA544;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* LOGO */
.logo{
    border: 2px dashed black;
    width: 20%;
    padding: 5px;
}

/* MENU */
nav{
    border: 2px dashed black;
    width: 60%;
    padding: 5px;
}

/* LOGIN */
.login{
    border: 2px dashed black;
    width: 20%;
    padding: 5px;
    text-align: right;
}

header nav{
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

/* /HEADER */

/* HERO AREA */
.hero-area{
    background-color: #1C1084;
    height: 600px;
}

.hero-area .box-hero{
    background-color: #D988E7;
    width: 50%;
    height: 450px;
    border: 2px dashed black;

}

/* /HERO AREA */

/* MAIN */
main .section-white{
    background-color: white;
    height: 620px;
}

main .section-grey{
    background-color: #D3D3D3;
    height: 620px;
}

/* BOX SECTION GREY */
.section-white .big-box{
    background-color: #5C8EF6;
    width: 40%;
    height: 500px;
    border: 2px dashed black;

}

.section-white .small-box{
    background-color: #F0C1CA;
    width: 28%;
    height: 500px;
    border: 2px dashed black;

}
/* BOX SECTION GREY */
.section-grey .big-box{
    background-color: #5C8EF6;
    width: 40%;
    height: 500px;
    border: 2px dashed black;

}

.section-grey .small-box{
    background-color: #F0C1CA;
    width: 28%;
    height: 500px;
    
}

.big-img.section-grey{
    height: 900px;
}

.big-img.section-grey .green-box{
    background-color: #228B22;
    width: 68%;
    height: 800px;
    border: 2px dashed black;
}

/* /MAIN */

/* FOOTER */



/* /FOOTER */

footer{
    background-color: #292B2E;
    color: white;
}

.footer-top{
    height: 650px;
    border-bottom: 2px solid white;
}


/* footer-top */
.footer-top .div-footer-top{
    border: 2px solid red;
    display: flex;
    width: 68%;
    border: 2px dashed black;

}

.footer-top .div-footer-top #f1{
    background-color: #D88582;
    width: 30%;
    height: 500px;
    border: 2px dashed black;
}
.footer-top .div-footer-top #f2{
    background-color: #65AEA8;
    width: 20%;
    height: 500px;
    border: 2px dashed white;
}
.footer-top .div-footer-top #f3{
    background-color: #65AEA8;
    width: 20%;
    height: 500px;
    border: 2px dashed white;
}
.footer-top .div-footer-top #f4{
    background-color: #65AEA8;
    width: 20%;
    height: 500px;
    border: 2px dashed white;
}
.footer-top .div-footer-top #f5{
    background-color: #65AEA8;
    width: 20%;
    height: 500px;
    border: 2px dashed white;
}

/* footer-bottom */
.footer-bottom .div-footer-bot{
    background-color: #7FFFD4;
    width: 68%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-bottom .div-footer-bot .text-footer{
    background-color: #FFB6C1;
    border: 2px dashed black;
    color: black;
    padding: 5px;
}

.container{
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}