*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #B9D6E3;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
}

.border{
    border: 2px dashed black;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.bg-grey{
    background-color: #D2D2D2;
}


/* HEADER */
header .div-header{
    background-color: #CBA544;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

header .div-header div{
    width: 20%;
    padding: 8px 15px;
}

header .div-header #login{
    text-align: right;
}

header .div-header nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 8px 15px;
}

header .div-header ul{
    display: flex;
    list-style: none;
}

header .div-header ul li a{
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

/* HERO AREA */
.hero-area{
    background-color: #1C1084;
    height: 500px;
}

.hero-area .hero-box{
    background-color: #D988E7;
    width: 50%;
    height: 400px;
}

/* MAIN */
.m1{
    background-color: white;
    height: 600px;
}

.m2{
    height: 600px;
}

/* section1 (main1) */
.big-box{
    background-color: #5C8EF6;
    width: 43%;
    height: 500px;
}

.small-box{
    background-color: #F0C1CA;
    width: 27%;
    height: 500px;
}

/* section green */
.big-img{
    background-color: #4E8738;
    width: 70%;
    height: 700px;
}

.big-section{
    height: 800px;
}

/* FOOTER */
footer{
    background-color: #292B2E;
}
/* footer top */
.footer-top{
    height: 440px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.div-footer-top{
    display: flex;
    justify-content: center;
    width: 70%;
}

.footer-top .big-div{
    background-color: #D88582;
    width: 30%;
    height: 400px;
}
.footer-top .small-div{
    background-color: #62ACA5;
    width: 19%;
    height: 400px;
    border: 2px dashed white;
}

/* footer bottom */
.text-footer{
    background-color: #EEB8C0;
}

.div-footer-bot{
    background-color: #ABFCD6;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    padding: 15px 0;
}